<!DOCTYPE html>
<html>
<head>


</head>


<body >
<form action="/addcustomer" method="post">  
    <div style="text-align: center;">

    <h1 >Create a customer</h1>

    <div>userid <input type="text" id="userid" name="userid"> </div><br>

 <div>username <input type="text" id="username" name="username"> </div><br>
 <div>mobile <input type="text" id="mobile" name="mobile"> </div><br>
 <div>email <input type="email" id="email" name="email"> </div><br>


 Select any Product  <select id="product" name="product" >
    <option value="charger">charger</option>
    <option value="laptop">laptop</option>
    <option value="keyboard">keyboard</option>
    <option value="mouse">mouse</option>
  </select>
  <select id="cost" name="cost" >
    <option value="100">100</option>
    <option value="200">200</option>
    <option value="300">300</option>
    <option value="400">300</option>
  </select>
  


<input type="submit"  value="Buy now">

<h1>  OR </h1>

<h1></h1>

<a href="/views/addproduct.ejs"> <button id="" name="" value="DOWNLOAD INVOICE" >TO DOWNLOAD INVOICE CLICK HERE</button></a>


</div>
</form>

</body>
















</html>








